#main {
  position: relative;
}
#alertdos {
  display: none;
}
#toolbutton {
  display: none;
}
.debug {
  background-color: green;
}
#ioalert {
  display: none;
}
.indent {
    text-shadow: 0px -2px 0px #fff;
}
.linklessh:hover {
    text-decoration:underline;
}
.linklessa:active {
    text-decoration:underline;
}
.extra-space {
    margin-bottom: 20px;
}
