#main {
  position: relative;
}
#toolbutton {
  display: none;
}
.debug {
  background-color: green;
}
#ioalert {
  display: none;
}
.indent {
    text-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
.linklessh:hover {
    text-decoration:underline;
}
.linklessa:active {
    text-decoration:underline;
}
.no-cursor {
    cursor: default;
}
.extra-space {
    margin-bottom: 20px;
}
